.page {
  display: flex;
  min-width: 425px;
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', "Verdana", "Tahoma", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;

  &__wrapper {
    display: flex;
    flex-direction: column;
    background-color: #202124;
    width: 100%;
  }
}
